{% extends 'layout.twig' %}

{% block pagetitle %}Dodaj kategoriê{% endblock %}

{% block content %}
    <h1>
        Dodaj kategoriê:
    </h1>
    <form action="#" method="post">
        {{ form_widget(form) }}
        <input type="submit" name="submit" />
    </form>
{% endblock %}