{% extends 'layout.twig' %}

{% block pagetitle %}Edytuj kategorię{% endblock %}

{% block content %}
    <h1>
       Edytuj kategorię
    </h1>
    <form action="{{ url('/categories/edit', {'id': category.id_category }) }}" method="post">
        {{ form_widget(form) }}
    </form>
{% endblock %}