{% extends 'layout.twig' %}
{% block pagetitle %}Dodaj komentarz{% endblock %}
{% block content %}

	
    <hr>
    <h2 class="intro-text text-center">
        Dodaj komentarz
    </h2>
    <hr>
	
	
	  {% for flashMessage in app.session.getFlashBag.get('message') %}
        <div class="alert alert-{{ flashMessage.type }}">
            {{ flashMessage.content }}
        </div>
    {% endfor %}
	
	
    <form action="{{ url('/comments/add', {'id_file': id_file|e}) }}" method="post">
        {{ form_widget(form) }}
    </form>
{% endblock %}
		