{% extends 'layout.twig' %}

{% block content %}
    <hr>
    <h2 class="intro-text text-center">
        Usuñ komentarz
    </h2>
    <hr>
    <div>
        <h3>Czy na pewno chcesz usun¹æ ten komentarz?</h3>

        <form action="#" method="post">
            {{ form_widget(form) }}
        </form>
    </div>

{% endblock %}