{% extends 'layout.twig' %}

{% block content %}
    <hr>
    <h2 class="intro-text text-center">
        Edytuj komentarz
    </h2>
    <hr>
    <form action="" method="post">
        {{ form_widget(form) }}
   
    </form>
{% endblock %}