
{% block search %}
    <h1>
        Szukaj według kategorii:
    </h1>
    <form action="{{ url('/files/search') }}" method="post">
        {{ form_widget(form) }}
      
    </form>
{% endblock %}

