{% extends 'layout.twig' %}

{% block title %}Rejestracja{% endblock %}

{% block content %}
    <h1>
        Rejestracja
    </h1>
    <form action="user.php" method="post">
        {{ form_widget(form) }}
        <input type="submit" name="submit" />
    </form>
{% endblock %}