{% extends 'layout.twig' %}

{% block title %}Forbbiden{% endblock %}

{% block content %}

    {% for flashMessage in app.session.getFlashBag.get('message') %}
        <div class="alert alert-{{ flashMessage.type }}">
            {{ flashMessage.content }}
        </div>
    {% endfor %}

    <h1>Forbbiden!</h1>
    <p>Sorry, you don't have access to this page.</p>
    <p><a href="{{ url('files') }}" title="Home">Go back to the homepage.</a></p>

{% endblock %}