{% extends 'layout.twig' %}

{% block title %}Upload file{% endblock %}

{% block content %}
    <h1>
        Upload file
    </h1>   
    <form action="{{ url('/files/upload') }}" {{ form_enctype(form) }} method="post">
        {{ form_widget(form) }}
    </form>
{% endblock %}
