{% extends 'layout.twig' %}

{% block title %}Dodaj "o mnie"{% endblock %}

{% block content %}
    <h1>
        Dodaj "o mnie"
    </h1>
    <form action="" method="post">
        {{ form_widget(form) }}
        
    </form>
{% endblock %}