{% extends 'layout.twig' %}

{% block pagetitle %}Dodaj "o mnie"{% endblock %}

{% block content %}

	  {% for flashMessage in app.session.getFlashBag.get('message') %}
        <div class="alert alert-{{ flashMessage.type }}">
            {{ flashMessage.content }}
        </div>
    {% endfor %}
    <h1>
        Dodaj "o mnie"
    </h1>
    <form action="" method="post">
        {{ form_widget(form) }}
        
    </form>
{% endblock %}