{% extends 'layout.twig' %}
{% block pagetitle %}Edytuj "o mnie"{% endblock %}
{% block content %}

	  {% for flashMessage in app.session.getFlashBag.get('message') %}
        <div class="alert alert-{{ flashMessage.type }}">
            {{ flashMessage.content|trans }}
        </div>
    {% endfor %}
    <hr>
    <h2 class="intro-text text-center">
        Edytuj "o mnie"
    </h2>
    <hr>
    <form action="" method="post">
        {{ form_widget(form) }}
        
    </form>
{% endblock %}