{% extends 'layout.twig' %}
{% block pagetitle %}Edytuj "o mnie"{% endblock %}
{% block content %}
    <hr>
    <h2 class="intro-text text-center">
        Edytuj "o mnie"
    </h2>
    <hr>
    <form action="" method="post">
        {{ form_widget(form) }}
        
    </form>
{% endblock %}