{% extends 'layout.twig' %}

{% block pagetitle %}}Zaloguj się{% endblock %}

{% block content %}
    <h1>
        Login
    </h1>
   {{ error }}
    <form action="{{ path('user_login_check') }}" method="post">
        {{ form_widget(form) }}
    </form>
{% endblock %}