{% extends 'layout.twig' %}

{% block title %}Wyloguj{% endblock %}

{% block content %}
	{% for flashMessage in app.session.getFlashBag.get('message') %}
        <div class="alert alert-{{ flashMessage.type }}">
            {{ flashMessage.content|trans }}
        </div>
    {% endfor %}
	
    <hr>
    <h2 class="intro-text text-center">Wyloguj</h2>
    <hr>
{% endblock %}