{% extends 'layout.twig' %}
{% block pagetitle %}Zostałeś wylogowany!{% endblock %}


		{% for flashMessage in app.session.getFlashBag.get('message') %}
        <div class="alert alert-{{ flashMessage.type }}">
            {{ flashMessage.content }}
        </div>
    {% endfor %}
    
{% block content %}
    Logged out!
	
	
{% endblock %}