
{% extends 'layout.twig' %}

{% block content %}
    <hr>
    <h2 class="intro-text text-center">Rejestracja</h2>
    <hr>

    <form action="" method="post">
        {{ form_widget(form) }}
        <input class="btn btn-info" type="submit" name="submit">
    </form>
{% endblock %}