{% extends 'layout.twig' %}

{% block title %}Edytuj dane{% endblock %}

{% block content %}

    {% if is_granted('ROLE_USER') %}

        <h2>Edytuj dane</h2>
    {% for flashMessage in app.session.getFlashBag.get('message') %}
        {{ flashMessage.content }}
    {% endfor %}
    <form action="" method="post" >
        {{ form_widget(form) }}
        <input class="btn btn-default" type="submit" name="Wyślij">
    </form>

    {% else %}
        Brak dostępu
    {% endif %}
{% endblock %}