{% extends 'layout.twig' %}

{% block title %}Rejestracja{% endblock %}

{% block content %}

	
		{% for flashMessage in app.session.getFlashBag.get('message') %}
			<div class="alert alert-{{ flashMessage.type }}">
				{{ flashMessage.content }}     
			</div>
		{% endfor %}

	
    <form action="" method="post" >
        {{ form_widget(form) }}
        <input class="btn btn-default" type="submit" name="Send">
    </form>
	
{% endblock %}
