{% extends 'layout.twig' %}

{% block pagetitle %}Rejestracja{% endblock %}

{% block content %}

	
		{% for flashMessage in app.session.getFlashBag.get('message') %}
			<div class="alert alert-{{ flashMessage.type }}">
				{{ flashMessage.content }}     
			</div>
		{% endfor %}

	
    <form action="/register/'" method="post" >
        {{ form_widget(form) }}
        
    </form>
	
{% endblock %}
