{% extends 'layout.twig' %}

{% block content %}

	
		
	{% for flashMessage in app.session.getFlashBag.get('message') %}
        <div class="alert alert-{{ flashMessage.type }}">
            {{ flashMessage.content }}
        </div>
    {% endfor %}
	
    <a href ="{{ url('auth_login') }}">Teraz możesz się zalogować!</a>
{% endblock %}